// @import url("https://fonts.googleapis.com/");

// Screen Size
$mobileVersion: 200px;
$tabletVersion: 600px;
$desktopVersion: 1000px;

// Colors
// $mainColor: ;
// $footerColor: ;

// Font Families
// $fontFamily: "", sans-serif;
