@media (min-width: $desktopVersion) {
    // NAV
    details {
        display: none;
    }

    nav {
        height: 10vh;
        padding: 0 3%;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 5;

        > ul {
            @include flexRow(1vw);
            width: 45%;
            justify-content: space-around;
            text-transform: uppercase;
        }

        aside {
            padding: 0;
            width: 10vh;
            height: 10vh;
            @include flexRow;
            justify-content: center;
            align-items: center;
        }

        a {
            color: black;
            font-weight: 600;
            &:hover {
                color: $nav;
            }
        }
    }

    // HEADER
    .kHeader {
        height: 75vh;
        a {
            padding: 1vh 7vh;
        }
        h3 {
            width: 50%;
        }
        h2 {
            font-size: 3.5rem;
        }
        h1 {
            font-size: 2.5rem;
        }
        form {
            [type="search"] {
                padding-right: 12vh;
            }
        }
        input {
            padding-bottom: 2%;
            padding-top: 2%;
        }
    }

    // MAIN
    .kMain {
        row-gap: 15vh;
        > section > article {
            > h3 {
                font-size: 30px;
            }
            > h4 {
                font-size: 20px;
            }
        }
    }

    // INTRO
    .kIntro > section > figure {
        flex-direction: row;
        column-gap: 5vw;
        padding: 3%;
        > img {
            width: 15vw;
        }
    }

    // SEOUL
    .kSeoul {
        figure {
            height: 55vh;
            > figcaption > h3 {
                font-size: 20px;
            }
            > figcaption > p {
                font-size: 17px;
            }
        }
    }

    // JEJU
    .kJeju {
        padding: 5% 0;
        figure {
            flex-direction: row;
            column-gap: 2vw;
            img {
                width: 32%;
            }
        }
        a {
            width: 15%;
            font-size: 18px;
        }
        > section {
            row-gap: 2vh;
        }
    }

    // RECOMMENDATION
    .kRecommendation {
        figure {
            height: 55vh;
            > figcaption > h3 {
                font-size: 20px;
            }
            > figcaption > p {
                font-size: 17px;
            }
        }
    }

    // SEASON
    .kSeason {
        > section {
            row-gap: 1vw;
            column-gap: 0;
        }
        aside {
            width: 20%;
            padding: 2%;
            min-height: 62vh;
            ul {
                row-gap: 3vh;
            }
        }
    }

    // FOOTER
    footer {
        @include flexCenter;
        section {
            width: 95%;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
