@media (min-width: $mobileVersion) {
    // NAV
    nav {
        position: relative;
        padding: 3%;
        background-color: white;
        @include flexRow;
        justify-content: space-between;

        > ul {
            display: none;
        }

        aside,
        details {
            font-size: 25px;
            padding: 2% 3%;
            text-align: center;
            color: white;
            background-color: $nav;
        }

        details > article {
            @include flexCol(5vh);
            position: absolute;
            background-color: $nav;
            left: 3%;
            margin-top: 1%;
            width: 84%;
            padding: 5%;
            font-size: 18px;
            font-weight: 600;

            > ul:first-child {
                @include flexCol(3vh);
                align-items: center;
                padding-top: 2vh;
                text-transform: uppercase;
            }

            > ul:last-child {
                @include flexRow;
                row-gap: 1vh;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            a {
                color: white;
            }
        }
    }
    // Header
    header{
        height: 60vh;
        width: 100%;
        position: absolute;
        video{
            height: 100%;
            object-fit: cover;
            position: absolute;
            z-index: 1;
            width: 100%;
        }
        > section{
            position: relative;
            z-index: 2;
            background-color:rgba($color: $footer, $alpha: .4);
            width: 100%;
            height: 100%;
            @include flexCol(0);
            justify-content: center;
            align-items: center;
        }
        article{
            text-align: center;
            color: white;
        }
        form{
            border: 2px solid white;
            display: flex;
            row-gap: 0;
            [type=submit]{
                font-size: 1.1rem;
                background-color: white;
            }
        }
        input{
            border: none;
            background-color: rgba($color: black
            , $alpha: .4);
            padding: 1vh 1vh;
        }
        a{
            color: white;
        }
        
    }
    ::placeholder{
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
    }
    
}
