@media (min-width: $tabletVersion) {
    // NAV
    nav {
        aside,
        details {
            font-size: 28px;
            padding: 1.5% 2%;
        }

        details {
            cursor: pointer;
        }

        details > article {
            row-gap: 7vh;
            font-size: 22px;

            > ul:first-child {
                row-gap: 4vh;
            }

            a:hover {
                color: black;
            }
        }
    }
    //HEADER
    header {
        height: 45vh;
    }
    video {
        height: 45vh;
    }

    // KOREA
    .korea {
        h3 {
            font-size: 25px;
        }
        figure {
            padding: 3%;
            flex-direction: row;
            column-gap: 4vw;
            align-items: flex-start;
        }
        img {
            width: 50%;
        }
        figcaption {
            align-items: flex-end;
            a {
                width: 40%;
            }
            a:hover {
                background-color: transparent;
            }
        }
    }
}
