@media (min-width: $mobileVersion){
    // GENERAL STYLE START
    section{
        h3{
            font-size: 30px;
        }
    }
    // GENERAL STYLE END
    main{
        section{
            width: 100%;
            @include flexCol(3vw);
            align-items: center;
            text-align: center;
        }
    }
    // NAV START
    nav {
        position: relative;
        padding: 3%;
        background-color: whitesmoke;
        @include flexRow;
        justify-content: space-between;
        > ul {
            display: none;
        }
        aside,
        details {
            font-size: 25px;
            padding: 2% 3%;
            text-align: center;
            color: white;
            background-color: $nav;
        }
        details > article {
            @include flexCol(5vh);
            position: absolute;
            background-color: $nav;
            left: 3%;
            margin-top: 1%;
            width: 84%;
            padding: 5%;
            font-size: 18px;
            font-weight: 600;
            > ul:first-child {
                @include flexCol(3vh);
                align-items: center;
                padding-top: 2vh;
                text-transform: uppercase;
            }
            > ul:last-child {
                @include flexRow;
                row-gap: 1vh;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            a {
                color: white;
            }
        }
    }
    // NAV END
    // SUMMARY START
    .summary{
        width: 95%;
        @include flexCol(3vw);
        text-align: center;
        article{
            background-color: lightgray;
            height: 100%;
            padding-top: 3vh;
            padding-bottom: 3vh;
            @include flexCol(3vw);
            align-items:center;
            justify-content: center;
            p{
                width: 90%;
            }
        }
    }
    // SUMMARY END
    // CULTURE START
    .culture{
        width: 95%;
        @include flexCol(3vw);
        text-align: center;
        padding-bottom: 2vh;
        article{
            @include flexCol(5vw);
            align-items:center;
            figure{
                @include flexCol(5vw);
                align-items:center;
                justify-content: center;
                height: 100%;
                padding-top: 3vh;
                padding-bottom: 3vh;
                background-color: lightgray;
                img{
                    width: 80%;
                }
                figcaption{
                    @include flexCol(5vw);
                    align-items:center;
                    h4{
                        padding: 2%;
                        background-color: $nav;
                    }
                    p{
                        width: 90%;
                    }
                }
            }
        }
    }
    // CULTURE END
    // TOURIST ACTIVITIES START
    .activities{
        width: 95%;
        @include flexCol(3vw);
        text-align: center;
        padding-bottom: 2vh;
        article{
            @include flexCol(5vw);
            align-items:center;
            figure{
                @include flexCol(5vw);
                align-items:center;
                justify-content: center;
                height: 100%;
                padding-top: 3vh;
                padding-bottom: 3vh;
                background-color: lightgray;
                img{
                    width: 80%;
                }
                figcaption{
                    @include flexCol(5vw);
                    align-items:center;
                    h4{
                        padding: 2%;
                        background-color: $nav;
                    }
                    p{
                        width: 90%;
                    }
                }
            }
        }
    }
    // TOURIST ACTIVITIES END
    // TOURIST ACTIVITIES START
    // FOOTER START
    footer{
        background-color: $footer;
        height: 16vh;
        width: 100%;
        section{
            @include flexCol(2vw);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            p{
                color: white;
            }
            ul{
                @include flexRow(3vh);
                display: flex;
                column-gap: 3vh;
                li{
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid white;
                    a{
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                    }
                }   
            }
        }
    }
    // FOOTER END
}