@media (min-width: $mobileVersion){
    // GENERAL STYLE START
    img{
        width: 15%;
    }
    section{
        h3{
            font-size: 30px;
        }
    }
    // GENERAL STYLE END
    main{
        section{
            width: 100%;
            @include flexCol(3vw);
            align-items: center;
        }
    }
    // SUMMARY START
    .summary{
        background-color: lightgray;
        width: 95%;
        @include flexCol(3vw);
        text-align: center;
        padding-bottom: 2vh;
        article{
            @include flexCol(3vw);
            align-items:center;
            p{
                width: 90%;
            }
        }
    }
    // SUMMARY END
    // FOOTER START
    footer{
        background-color: $footer;
        height: 16vh;
        width: 100%;
        section{
            @include flexCol(2vw);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            p{
                color: white;
            }
            ul{
                @include flexRow(3vh);
                display: flex;
                column-gap: 3vh;
                li{
                    position: relative;
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 2px solid white;
                    a{
                        color: white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                    }
                }   
            }
        }
    }
    // FOOTER END
}