@media (min-width:$mobileVersion){
    img{
        width: 10%;
    }
    video{
        width: 10%;
    }
    article > h2{
        text-transform: uppercase
    }
    .cmain,
    .cmain > .cleft,
    .cmain > .cright{
        @include flexCol(5vw);
    }
    .cmain,
    .cleft,
    .cright{
        align-items: center;
    }
    .cmain{
        padding-bottom: 5vw;
        background-color: $mainColor;
        padding-top: 5vw;
    }
    .faq{
        width: 90%;
        background-color:lightgrey;
        padding: 3vh 0;
        @include flexCol(0);
        align-items: center;
        ul a{
            color: $aColor;
            display: flex;
            justify-content: space-between;
            width: 80%;
            align-items: center;
        }
        li{
            padding: 0 2vh;
            @include flexRow(2vh);
            border-bottom: 1px solid darkgrey;
            font-size: 20px;
            text-transform: uppercase;
            height: 8vh;
            align-items: center;
        }
        [class$=fa-q]{
            color: black;
            font-size: 1.4rem;
        }
        > article{
            background-color: whitesmoke;
            padding: 3vh 0vh;
            width: 100%;
            display: flex;
            justify-content: center;
            h2{
                width: 80%;
            }
            
        }
        > ul{
            padding: 2vh 0;
            width: 85%;
        }
        > a{
            background-color: #0E8388;
            width: 30%;
            padding: 1vh;
            color: whitesmoke;
            @include flexCenter;
        }
    }
    .form{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .food{
        display: flex;
        flex-direction: column-reverse;
        > aside{
            @include flexCol(3vw);
            align-items: center;
        }
        a{
            height: 6vh;
            width: 6vh;
            @include flexCenter;
            font-size: 1.4rem;
            background-color: $aColor;
            color: whitesmoke;
        }
        > section{
            display: none;
        }
    }
    .foodList{
        @include flexCol(3vw);
        align-items: center;
        img{
            width: 100%;
            height: 35vh;
        }
        figure{
            @include flexCol(2vw);
            align-items: center;
        }
        figcaption{
            width: 80%;
            text-align: center;
            > h4{
                text-transform: uppercase;
            }
        }
    }
    .festival{
        > section{
            display: none;
        }
        h2{
            text-align: center;
        }
        > aside{
            @include flexCol(5vw);
        }
    }
    .festList{
        @include flexCol(4vw);
        align-items: center;
        figure{
            padding: 4%;
            background-color: $footer;
            width: 70%;
            @include flexCol(0);
            align-items: center;
        }
        figcaption{
            text-align: center;
        }
        img{
            width: 12vh;
            height: 10vh;
        }
    }
    .place{
        > article{
            text-align: center;
        }
    }
    .place1,
    .place2,
    .place3,
    .place4{
        > aside{
            text-align: center;
            background-color: $footer;
        }
        > figure{
            @include flexRow(4vw);
            padding: 2vh 0;
        }
        figcaption{
            width: 60%;
        }
        img{
            width: 35%;
            height: 22vh;
        }
    }
    .place > section:nth-child(odd){
        > figure{
            flex-direction: row-reverse;
        }
    }
    //quote
    .quote{
        height: 8vh;
        width: 100%;
        background-image: url("/img/colombia/bandejapaisa.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        > article{
            background-color: rgba($color: black
            , $alpha: .5);
            width: 100%;
            height: 100%;
        }
        section{
            height: 100%;
            @include flexCenter;
        }
        h6{
            color: whitesmoke;
            font-size: 1rem;
        }
    }
    


}