@media (min-width:$mobileVersion){
    img{
        width: 10%;
    }
    article > h2{
        text-transform: uppercase
    }
    .cmain,
    .cmain > .cleft,
    .cmain > .cright{
        @include flexCol(5vw);
    }
    .cmain,
    .cleft,
    .cright{
        align-items: center;
    }
    .cleft,
    .cright{
        width: 90%;
    }
    .cmain{
        h2{
            font-weight: 800;
        }
        padding-bottom: 5vw;
        background-color: whitesmoke;
        padding-top: 5vw;
        @include flexCol(2vh);
    }
    // NAV
    nav {
        position: relative;
        padding: 3%;
        background-color: white;
        @include flexRow;
        justify-content: space-between;

        > ul {
            display: none;
        }

        aside,
        details {
            font-size: 25px;
            padding: 2% 3%;
            text-align: center;
            color: white;
            background-color: $nav;
        }

        details > article {
            @include flexCol(5vh);
            position: absolute;
            background-color: $nav;
            left: 3%;
            margin-top: 1%;
            width: 84%;
            padding: 5%;
            font-size: 18px;
            font-weight: 600;

            > ul:first-child {
                @include flexCol(3vh);
                align-items: center;
                padding-top: 2vh;
                text-transform: uppercase;
            }

            > ul:last-child {
                @include flexRow;
                row-gap: 1vh;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            a {
                color: white;
            }
        }
    }
    // HEADER
    .cHeader{
        background-image: url("https://cdn.audleytravel.com/5627/4018/79/1336702-medellin-colombia.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 65vh;
        width: 100%;
        > section{
            position: relative;
            z-index: 2;
            background-color:rgba($color: black, $alpha: .7);
            width: 100%;
            height: 100%;
            @include flexCol(3vh);
            justify-content: center;
            align-items: center;
        }
        article{
            text-align: center;
            color: #D7BE64;
            height: 45%;
            @include flexCol(0);
            align-items: center;
        }
        form{
            border: 3px solid #D7BE64;
            display: flex;
            row-gap: 0;
            border-radius: 7px;
            [type=submit]{
                font-size: 1.1rem;
                background-color: #D7BE64;
                color: #64471F;
                font-weight: 700;
            }
        }
        input{
            border: none;
            background-color: rgba($color: black
            , $alpha: .4);
            padding: 1vw 1vw;
        }
        h3{
            background-color: #D7BE64;
            border: 1px solid #D7BE64;
            border-radius: 15px;
            font-size: .8rem;
            width: 85%;
            padding: 2vw;
            color: #64471F;
        }
        strong{
            color: #64471F;
            font-family: 900;
        }
        h2{
            font-size: 2rem;
            font-weight: 900;
        }
        h1{
            font-size: 1.5rem;
            font-family: 700;
        }
        a{
            color: #64471F;
            background-color: #D7BE64;
            border: 1px solid #D7BE64;
            border-radius: 10px;
            padding: 1vw 5vh;
            font-size: 1.1rem;
            font-weight: 700;
        }
    
    }
    ::placeholder {
        color: white;
        font-weight: 600;
        font-size: 1rem;
    }
    .faq{
        background-color:$mainColor;
        width: 100%;
        padding: 3vh 0;
        @include flexCol(0);
        align-items: center;
        ul a{
            color: black;
            display: flex;
            justify-content: space-between;
            width: 80%;
            align-items: center;
        }
        li{
            padding: 0 2vh;
            @include flexRow(2vh);
            border-bottom: 1px solid darkgrey;
            font-size: 14px;
            text-transform: uppercase;
            height: 8vh;
            align-items: center;
        }
        [class$=fa-q]{
            color: #64471F;
            font-size: 1.4rem;
        }
        > article{
            background-color: whitesmoke;
            padding: 3vh 0vh;
            width: 100%;
            display: flex;
            justify-content: center;
            h2{
                width: 100%;
                text-align: center;
            }
            
        }
        > ul{
            padding: 2vh 0;
            width: 85%;
        }
        > a{
            font-size: .9rem;
            padding: 1vh;
            background-color: $footer;
            color: whitesmoke;
            border: 1px solid $footer;
            border-radius: 15px;
        }
    }
    .form{
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
    }
    .food{
        background-color: $mainColor;
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 2vh;
        > aside{
            @include flexCol(3vw);
            align-items: center;
        }
        a{
            font-size: .9rem;
            padding: 1vh;
            background-color: $footer;
            color: whitesmoke;
            border: 1px solid $footer;
            border-radius: 15px;
        }
        > section{
            display: none;
        }
    }
    .foodList{
        @include flexCol(3vw);
        align-items: center;
        img{
            width: 100%;
            height: 35vh;
        }
        figure{
            @include flexCol(2vw);
            align-items: center;
            height: unset;
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
        }
        figcaption{
            width: 80%;
            text-align: center;
            > h4{
                text-transform: uppercase;
            }
        }
    }
    // festival
    .festival{
        > section{
            display: none;
        }
        h2{
            text-align: center;
        }
        > aside{
            @include flexCol(5vw);
        }
    }
    .festList{
        @include flexCol(4vw);
        align-items: center;
        figure{
            padding: 4%;
            width: 70%;
            @include flexCol(0);
            align-items: center;
        }
        figcaption{
            text-align: center;
        }
        img{
            width: 12vh;
            height: 10vh;
        }
    }
    .fest1{
        background-color: rgba($color: yellow, $alpha: .7);
        border: 1px solid rgba($color: yellow, $alpha: .7);;
        border-radius: 15px;
    }
    .fest2{
        background-color: rgba($color: blue, $alpha: .7);
        border: 1px solid rgba($color: blue, $alpha: .7);
        border-radius: 15px;
    }
    .fest3{
        background-color: rgba($color: red, $alpha: .7);
        border: 1px solid rgba($color: red, $alpha: .7);
        border-radius: 15px;
    }
    .fest1,
    .fest2,
    .fest3{
        figcaption{
            row-gap: 0;
        }
    }
    .place{
        > article{
            > h2{
                padding: 1vh;
            }
            text-align: center;
        }
        background-color: $mainColor;
    }
    .place1,
    .place2,
    .place3,
    .place4{
        width: unset;
        display: unset;
        text-align: left;
        padding-bottom: 0;
        > aside{
            text-align: center;
            background-color: $footer;
            > p{
                font-size: 1.5rem;
                padding: 1%;
            }
        }
        > figure{
            padding: 2vh 1vh;
            display: unset;
            height: unset;
            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
        }
        figcaption{
            font-size: 1rem;
            display: unset;
        }
        img{
            width: 15vh;
            height: 15vh;
            padding: 3%;
            float: left;
        }
        
    }
    .gallery{
        width: unset;
        display: unset;
        text-align: unset;
        padding-bottom: 0;
    }
    .place > section:nth-child(odd){
        > figure{
            flex-direction: row-reverse;
        }
    }
    //quote
    .quote{
        height:13vh;
        width:100%;
        background-image: url("https://e1.pxfuel.com/desktop-wallpaper/437/970/desktop-wallpaper-bandera-colombia-bandera-de-colombia-thumbnail.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        > article{
            background-color: rgba($color: black
            , $alpha: .5);
            width: 100%;
            height: 100%;
        }
        section{
            height: 100%;
            @include flexCenter;
        }
        h6{
            color: whitesmoke;
            font-size: 1rem;
        }
    }
    // TRAVEL
    .travel{
        background-image: url("https://realestatemarket.com.mx/images/2021/08-agosto/1208/g_aeropuerto_internacional_de_El_Dorado_en.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        > section{
            position: relative;
            z-index: 2;
            background-color:rgba($color: black, $alpha: .7);
            width: 100%;
            height: 100%;
            @include flexCol(3vh);
            justify-content: center;
            align-items: center;
        }
        article{
            text-align: center;
            color: #D7BE64;
        }
        h2{
            font-size: 2rem;
            font-weight: 900;
        }
        h1{
            font-size: 1.5rem;
            font-family: 700;
        }
    
    }
    .travcontent{
        figure{
            @include flexCol(1vw);
            padding: 3vh;
            align-items: center;
        }
        img{
            width: 25vh;
            height: 25vh;
        }
        figcaption{
            @include flexCol(1vw);
            align-items: center;
            aside:nth-child(even){
                display: none;
            }
        }
        h3{
            color: #D7BE64;
            font-size: 1rem;
            text-align: center;
        }
        aside{
            background-color: #A5E23B;
            border: 1px solid #A5E23B;
            padding: 1vw;
            width: 60%;
            border-radius: 10px;
        }
    }
    .faq{
        li{
            padding: 2vh 0;
        }
    }
    #trav{
        background-color: transparent;
    }
    main > .cright > .travel{
        padding-bottom: 0;
    } 
    // FOOTER START
    footer {
        background-color: $footer;
        height: 16vh;
        width: 100%;
        section {
            @include flexCol(2vw);
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            p {
                color: white;
            }
            ul {
                @include flexRow(3vh);
                display: flex;
                column-gap: 3vh;
            }
            li {
                position: relative;
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 2px solid white;
            }
            a {
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 15px;
            }
        }
    }
    // FOOTER END
    


}